<%= link_to "Post New Blog", new_blog_path(@blog) %>
<% if current_user %>
  <ul>
    <% @blogs.each do |blog| %>
      <li><%= link_to blog.title, blog_path(blog) %></li>
    <% end %>
  </ul>
<% end %>
